@using GotorzProject.Client.Pages;

@page "/"

    <PageTitle>GoTorz</PageTitle>

    <div class="Startheader"><img src="https://gotorz.ae/assets/img/logo-medium.png" alt="GoTorz.logo" class="GoTorz" /></div>

    <Login />

    <div>
        
    </div>



@code{

}

<style>
    .GoTorz {
        height: 100px;
        width: 200px;
    }

    .Startheader{
        background-color: #4287f5;
    }

    
</style>