@page "/Kundeside"
@rendermode InteractiveWebAssembly
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<PageTitle>Personal details</PageTitle>

<h3>Update your info here</h3>

<div id="Startside">
    <div class="form-control" id="nav">
        <div class ="form-control">
            <i class="fa fa-user-circle-o" id="fafa"> Personal details</i>
        </div>
        <div class="form-control">
            <i class="fa fa-history" id="fafa"> Order history</i>
        </div>
        <div class="form-control">
            <i class="fa fa-credit-card" id="fafa"> Credit card details</i>
        </div>
        <div class="form-control">
            <i class="fa fa-comment" id="fafa"> Support</i>
        </div>
        <div class="form-control">
            <i class="fa fa-users" id="fafa"> About us</i>
        </div>
    </div>
    <div>
        <div class="input-group mb-3">
            <div>
                <label>First Name</label>
                <input type="text" class="form-control" id="space" placeholder="FirstName">
            </div>
            <div style="margin-left:100px;">
                <label>Last Name</label>
                <input type="text" class="form-control" id="space" placeholder="LastName">
            </div>
        </div>

        <div>
            <label>Address</label>
            <input type="text" class="form-control" id="space" placeholder="Address">
        </div>

        <div>
            <label>Phone Number</label>
            <input type="text" class="form-control" id="space" placeholder="Phone number">
        </div>

        <div>
            <label id="Space">E-Mail</label>
            <input type="text" class="form-control" id="space" placeholder="Insert E-Mail">
        </div>

        <div>
            <label id="Space">Repeat</label>
            <input type="text" class="form-control" id="space" placeholder="Repeat E-Mail">
        </div>
        <div class="button">
            <InputFile OnChange="UploadImage"/>
            <input type="submit" value="Submit"/>
        </div>  
    </div>
        <div>
        @if (!string.IsNullOrEmpty(uploadedImage))
        {
            <img src="@uploadedImage" alt="Profilbilled" class="profile-img" />
        }
        </div>
</div>

@code {
    private string? uploadedImage;

    private async Task UploadImage(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);
        uploadedImage = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
        Console.WriteLine(Convert.ToBase64String(buffer));
    }

}

<style>

    label {
        margin-top: 5px;
    }

    #Startside{
        display:flex;
    }

    #space {
        margin-top: 5px;
    }

    #fafa {
        margin: 5px;
        margin-top: 15px;
    }

    #nav{
        background-color:cornflowerblue;
        width:220px;
        height:265px; 
        margin-right: 20px;
        margin-top:5px;
    }

    .button {
        margin-top:10px;
        margin-left:150px;
    }

    .profile-img {
        margin-left:50px ;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: scale-down;
    }

</style>