@page "/MedarbejderAdministration"
@rendermode InteractiveWebAssembly
@inject EmployeeService EmployeeService
@using GotorzProject.Client.Models

<h3>Medarbejder Administration</h3>

<h4>Opret ny medarbejder</h4>
<div>

</div>

