@page "/MedarbejderAdministration"
@* @rendermode InteractiveWebAssembly *@
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@using GotorzProject.Client.Component
@using GotorzProject.Shared.DataTransfer
@using System.Security.Claims

@inject HttpClient http
<CascadingAuthenticationState>
	<AuthorizeView Roles="Admin,Manager">
		<Authorized>
			@if(@context != null){
				<h3>Medarbejder Administration</h3>

				<h4>Opret ny medarbejder</h4>
				<div>
					@if(users != null)
					{
						@foreach(UserDTO user in users)
						{
							<UserView CurrentUser="user" />
						}
					}
				</div>
			}
		</Authorized>
		<NotAuthorized>
			<Spinner />
		</NotAuthorized>
	</AuthorizeView>
</CascadingAuthenticationState>


@code{

	List<UserDTO>? users = new();

	protected override async Task OnInitializedAsync(){

		if(http.BaseAddress != null){
			string getUsersEndpoint = "/api/User/GetUsers";
			var result = await http.GetAsync(getUsersEndpoint);

			users = await result.Content.ReadFromJsonAsync<List<UserDTO>>();

		}	
	}
}