@page "/payment"
@inject IJSRuntime JSRuntime


<h3>Payment</h3>

<form id=" =payment-form">
	<div style="margin-bottom: 20px">
		<label for="name">Fornavn:</label>
		<input type="text" id="name" name="name" required placeholder="Indtast fornavn"/>
	</div>

	<div style ="margin-bottom: 20px">
		<label for="name">Efternavn:</label>
		<input type="text" id="name" name="name" required placeholder="Indtast dit efternavn" />
	</div>


	<div style="margin-bottom:20px">
		<label for="cardnumber">Kortoplysninger:</label>
		<input type="text" id="cardnumber" name="cardnumber" required placeholder="Indtast dit kortnummer"/>
	</div>



	<div id="card-element" >
		<! Stripe card inserted here-->
	</div>

	<button itemid="submit">Betal med Stripe</button>

</form>



@code 
{
	private string stripePublicKey = "pk_test_51R93CSP59y1jtVDP2YoFzsxzVbByt2z9rE4gzybenudTV6zQ0nh0RGOp9Ub6zDoIOK176On3J9XGcIZIodsXruGN00c21LZNjm";
	private bool _isInitialized = false;
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("initializeStripe", stripePublicKey);
		}
	}

	


}
