@page "/payment"
@inject IJSRuntime JSRuntime


<h3>Payment</h3>

<form id=" =payment-form">
	<div id="card-element">
		<! Stripe card inserted here-->
	</div>

	<button itemid="submit">Betal</button>

</form>



@code 
{
	private string stripePublicKey = "pk_test_51R93CSP59y1jtVDP2YoFzsxzVbByt2z9rE4gzybenudTV6zQ0nh0RGOp9Ub6zDoIOK176On3J9XGcIZIodsXruGN00c21LZNjm";

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		await InitializeStripeJs();
	}

	private async Task InitializeStripeJs()
	{
		await JSRuntime.InvokeVoidAsync("initializeStripe", stripePublicKey);
	}


}
